body {
 font-family: Helvetica, sans-serif;
 font-size: 1em;
 color: #000000;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #FD3E16;
  color: #000000;
  font-weight: 450;
  margin: 20px 0px 10px;
  width: 80%;
  min-width: 300px;
}
