body {
 font-family: Helvetica, sans-serif;
 font-size: 1em;
 color: #000000;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: center;
}

.banner {
  display: center;
}

.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #FD3E16;
  color: #000000;
  font-weight: 450;
  margin: 20px 0px 10px;
  width: 100%;
  min-width: 300px;
  display: center;
  text-align: center;
}

.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
}

.organization {
  font-weight: 400;
  font-size: 1.25em;
  text-align: center;
}

.date {
  font-weight: 400;
  font-size: 1em;
  margin-top: 2px;
  margin: 0px;
  text-align: center;
}

.description {
  margin: 10px 0px;
  text-align: center;
}

.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#degrees {
  margin-top: 5px;
  margin: 0px;
}

#do {
  margin-top: 5px;
  margin: 0px;
}

.top {
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}
