#content {
  margin: 0 auto;
  width: 900px;
}
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}
p {
  font-family: Georgia, serif;
  font-size: 13px;
}
