#content {
  margin: 0 auto;
  width: 900px;
}
h1 {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}
#byline {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}
p {
  font-family: Georgia, serif;
  font-size: 13px;
}
blockquote {
  font: 16px/24px normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
}
