.headline {
  font-family: 'Bree Serif', serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: #0474b3;
}

.subhead {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #0474b3;
}

.title {
  font-family: 'Bree Serif', serif;
  font size: 2em;
  font-weight: lighter;
}

.byline {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.chapter {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

p {
  font-family: 'Open Sans', san-serif;
  line-height: 180%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  font-size: 0.5em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.quotebox {
  color: #ffa938;
  font-size: 2em;
  font-family: 'Bree Serif', serif;
}
.by {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
}
.footer{
  font-size: 1em;
  color: white;
  text-align: center;
  background: black;
  padding: 40px 5%;
  width: 100%;
  height: 50px;
}

.popper {
  display: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: center;
}


.sidenav {
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  font-family: 'Open Sans', sans-serif;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #0474b3;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

.sidenav a:hover {
  color: #0474b3;
}

.main {
  margin-left: 140px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
