.headline {
  font-family: 'Bree Serif', serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: #0474b3;
}

.subhead {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #0474b3;
}

.title {
  font-family: 'Bree Serif', serif;
  font size: 2.5em;
  font-weight: 300;
}

.byline {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
