.headline {
  font-family: 'Bree Serif', serif;
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  color: #0474b3;
}

.subhead {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #0474b3;
}

.title {
  font-family: 'Bree Serif', serif;
  font size: 2em;
  font-weight: lighter;
}

.byline {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

.chapter {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

p {
  font-family: 'Open Sans', san-serif;
  line-height: 180%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  font-size: 0.5em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.quotebox {
  color: #ffa938;
  font-size: 2em;
  font-family: 'Bree Serif', serif;
}
.by {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
}
.footer{
  font-size: 1em;
  color: white;
  text-align: center;
  background: black;
  padding: 40px 5%;
  width: 100%;
  height: 50px;
}

.popper {
  display: center;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: center;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
